In [ ]:
import sqlite3
con = sqlite3.connect("car.db")
cur = con.cursor()


query = """
Create Table cars( release_year INT NOT NULL, name, model, type, color)
"""
cur.execute(query)

In [ ]:
insert_query = """
insert into cars(release_year, name, model, type, color)
values
(2014, 'Honda', 'city', 'Sedan', 'Grey'),
(2017, 'Ford', 'endevour', 'Suv', 'Red'),
(2008, 'TATA','nano', 'Micro', 'yellow')
"""

In [ ]:
cur.execute(insert_query)

In [ ]:
read_query = """
select * from cars
"""

In [ ]:
cur.execute(read_query).fetchall()

[(2014, 'Honda', 'city', 'Sedan', 'Grey'),
 (2017, 'Ford', 'endevour', 'Suv', 'Red'),
 (2008, 'TATA', 'nano', 'Micro', 'yellow')]

In [ ]:
update_query = """
update cars
set name = 'Skoda'
where release_year = 2008
"""

In [ ]:
cur.execute(update_query)

In [ ]:
cur.execute("select *from cars").fetchall()

[(2014, 'Honda', 'city', 'Sedan', 'Grey'),
 (2017, 'Ford', 'endevour', 'Suv', 'Red'),
 (2008, 'Skoda', 'nano', 'Micro', 'yellow')]

In [ ]:
delete_query = "select *from cars where release_year = 2008"

In [ ]:
cur.execute(delete_query)

In [ ]:
cur.execute("select *from cars").fetchall()

[(2014, 'Honda', 'city', 'Sedan', 'Grey'),
 (2017, 'Ford', 'endevour', 'Suv', 'Red'),
 (2008, 'Skoda', 'nano', 'Micro', 'yellow')]